<div class="page-produtos">
  <div class="produtos-header">
    <h2>Gerenciar Produtos</h2>
    <button class="btn-confirm" (click)="abrirModal(null)">
      <i class="bi bi-plus-lg"></i> Novo Produto
    </button>
  </div>

  <div class="tabela-wrapper">
    <table>
      <thead>
        <tr>
          <th>PRODUTO</th>
          <th>PREÇO</th>
          <th>ESTOQUE</th>
          <th>STATUS</th>
          <th>AÇÕES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of produtos; let i = index">
          <td>{{ p.nome }}</td>
          <td>R$ {{ (+p.preco).toFixed(2) }}</td>
          <td>{{ p.quantidade }}</td>
          <td>
            <span
              class="badge-status"
              [class.disponivel]="p.status === 'Disponível'"
              [class.esgotado]="p.status !== 'Disponível'"
            >
              {{ p.status }}
            </span>
          </td>
          <td>
            <button class="btn-edit" (click)="abrirModal(i)">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn-delete" (click)="deletar(i)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- MODAL -->
<div class="modal-overlay" *ngIf="modalAberto">
  <div class="modal-box">
    <h3>{{ editando ? "Editar Produto" : "Novo Produto" }}</h3>

    <div class="field">
      <label>Nome do Produto</label>
      <input type="text" [(ngModel)]="form.nome" placeholder="Ex: X-Burguer" />
    </div>
    <div class="field">
      <label>Preço (R$)</label>
      <input
        type="number"
        [(ngModel)]="form.preco"
        placeholder="Ex: 14.90"
        step="0.01"
      />
    </div>
    <div class="field">
      <label>Quantidade em Estoque</label>
      <input type="number" [(ngModel)]="form.quantidade" placeholder="Ex: 20" />
    </div>
    <div class="field">
      <label>Status</label>
      <select [(ngModel)]="form.status">
        <option value="Disponível">Disponível</option>
        <option value="Esgotado">Esgotado</option>
      </select>
    </div>

    <div class="modal-actions">
      <button class="btn-confirm" (click)="salvar()">Salvar</button>
      <button class="btn-cancel" (click)="fecharModal()">Cancelar</button>
    </div>
  </div>
</div>
