<aside class="side-panel">
  <div class="side-card">
    <h3>Fonte de Vendas</h3>
    <div class="donut-container" [style.background]="gradiente">
      <div class="donut-label">
        <span>{{ ticketMedio }}</span>
        <small>Ticket Médio</small>
      </div>
    </div>
    
    <div class="legenda">
      <div class="legenda-item"><span class="dot pix"></span> Pix</div>
      <div class="legenda-item"><span class="dot dinheiro"></span> Dinheiro</div>
      <div class="legenda-item"><span class="dot cartao"></span> Cartão</div>
    </div>
  </div>
</aside>

<div class="side-card">
  <h3 style="margin-bottom: 20px; font-size: 18px; color: #fff;">Produtos Mais Vendidos</h3>

  <div class="ranking-vazio" *ngIf="maisVendidos.length === 0">
    <p>Nenhuma venda registrada.</p>
  </div>

  

  <div class="ranking-list" *ngIf="maisVendidos.length > 0">
    <div class="ranking-item" *ngFor="let item of maisVendidos; let i = index">
  <span class="ranking-pos" [style.color]="i === 0 ? '#4f8cff' : i === 1 ? '#4f8cffcc' : '#4f8cff88'">
    {{ i + 1 }}
  </span>
  <div class="ranking-icon">
    <img [src]="getIconeProduto(item.nome)" [alt]="item.nome">
  </div>
  <span class="ranking-nome">{{ item.nome }}</span>
  <span class="ranking-qtd">{{ item.quantidade }}</span>
</div>
  </div>
</div>